/* Time and address information */
.info-container {
  background-color: #122ab2;
}

.info-content {
  max-width: 960px;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info-content p,
.info-content a {
  margin: 0 10px 0 10px;
  color: #ffffff;
}

/* Header and Menu */
.header-container {
  background-color: #2c70ff;
}

.header-content {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-content a {
  color: #ffffff;
}

.header-content .logo {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.header-content .menu ul {
  display: flex;
  flex-wrap: wrap;
}

.header-content .menu a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.header-content .menu a:hover {
  color: #122ab2;
}

/* Introduction container */
.intro {
  font-size: 3em;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}
