/* Time and address information */
.info-container {
  background-color: #122ab2;
}

.info-content {
  max-width: 960px;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info-content p,
.info-content a {
  margin: 0 10px 0 10px;
  color: #ffffff;
}

/* Header and Menu */
.header-container {
  background-color: #2c70ff;
}

.header-content {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-content a {
  color: #ffffff;
}

.header-content .logo {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.header-content .menu ul {
  display: flex;
  flex-wrap: wrap;
}

.header-content .menu a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.header-content .menu a:hover {
  color: #122ab2;
}

/* Introduction container */
.intro {
  font-size: 3em;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

/* About container */
.about-container {
  margin: 0 auto;
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.about-content {
  flex: 2 1 300px;
  margin: 0 10px;
}

.about-content h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.about-content p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
  text-align: justify;
}

.about-img {
  flex: 1 1 160px;
  margin: 0 10px;
}

.products-container {
  max-width: 960px;
  margin: 60px auto;
}

.products-container h1 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
}

.products-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.product-item {
  flex: 1 1 175px;
  margin: 10px;
}

.product-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  background-color: #f7f7f7;
  padding: 60px 20px;
}

.purple {
  border-top: 8px solid #ae81ff;
}
.pink {
  border-top: 8px solid #f9265e;
}
.blue {
  border-top: 8px solid #66d9eb;
}

.price-container {
  background-color: #f7f7f7;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.price-item {
  padding: 20px;
  border: 4px solid #ffffff;
  margin: 10px;
  flex: 1 1 260px;
}

.price-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  text-align: center;
  margin-top: 20px;
}

.price-item span {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  padding: 10px 0 5px 0;
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
}

.price-item sup {
  font-size: 1.5rem;
}

.price-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25em;
  font-style: italic;
  color: #7c7c7c;
}

.price-item li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.price-item li::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #2c70ff;
  border-radius: 50%;
}

.price-item a {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border: 4px solid;
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.25em;
  padding: 15px 0;
  text-align: center;
}

@media (max-width: 800px) {
  .price-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .price-container .price-item:nth-child(3) {
    order: -2;
  }
  .price-container .price-item:nth-child(2) {
    order: -1;
  }
}

.quality-container {
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.quality-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}

.quality-item h2 {
  font-size: 2.25em;
  color: #a4a4a4;
  margin-bottom: 20px;
}

.quality-item h2::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
}

.quality-item:nth-of-type(3n + 1) h2::before {
  background-color: #ae81ff;
}
.quality-item:nth-of-type(3n + 2) h2::before {
  background-color: #f9265e;
}
.quality-item:nth-of-type(3n + 3) h2::before {
  background-color: #7c7c7c;
}

.quality-item p {
  font-size: 1.25em;
  line-height: 1.4;
  color: #7c7c7c;
  text-align: justify;
}
